services:
  db_ab:
    image: postgres:16.8-alpine
    container_name: postgres_ab
    environment:
      - POSTGRES_USER=${TEST_AB_POSTGRES_USER}
      - POSTGRES_PASSWORD=${TEST_AB_POSTGRES_PASSWORD}
      - POSTGRES_DB=${TEST_AB_POSTGRES_DB}
    networks:
      - ab_network
    ports:
      - ${TEST_AB_POSTGRES_PORT}:5432
    volumes:
      - ./database/postgres/migrations/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${TEST_AB_POSTGRES_USER} -d ${TEST_AB_POSTGRES_DB}"]
      interval: 2s
      timeout: 2s
      retries: 10
      start_period: 5s
  
  api_ab:
    build:
      context: ./pull-request-service
      dockerfile: ./build/Dockerfile
      target: build
    container_name: pull-request-service_ab
    networks:
      - ab_network
    environment:
      - PR_SERVER_HOST=${TEST_AB_PR_SERVER_HOST}
      - PR_SERVER_PORT=${TEST_AB_PR_SERVER_PORT}
      - PR_SERVER_SHUTDOWN_TIMEOUT=${TEST_AB_PR_SERVER_SHUTDOWN_TIMEOUT}
      - POSTGRES_PORT=5432
      - POSTGRES_HOST=${TEST_AB_POSTGRES_HOST}
      - POSTGRES_USER=${TEST_AB_POSTGRES_USER}
      - POSTGRES_PASSWORD=${TEST_AB_POSTGRES_PASSWORD}
      - POSTGRES_DB=${TEST_AB_POSTGRES_DB}
      - POSTGRES_SSL_MODE=${TEST_AB_POSTGRES_SSL_MODE}
      - POSTGRES_TIMEOUT=${TEST_AB_POSTGRES_TIMEOUT}
      - LOG_LEVEL=${TEST_AB_LOG_LEVEL}
    ports:
      - ${TEST_AB_PR_SERVER_PORT}:${TEST_AB_PR_SERVER_PORT}
    depends_on:
      db_ab:
        condition: service_healthy
    command: ["./pull-request-service-bin"]
    healthcheck:
      test: ["CMD-SHELL", "bash -c '</dev/tcp/localhost/${TEST_AB_PR_SERVER_PORT}' || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 10s

  ab-tests:
    build:
      context: .
      dockerfile: ./ab-tests/Dockerfile
    container_name: ab-tests-runner
    networks:
      - ab_network
    environment:
      - API_URL=http://api_ab:${TEST_AB_PR_SERVER_PORT}
    depends_on:
      api_ab:
        condition: service_healthy

networks:
  ab_network:
    driver: bridge

